




body {
    background-color: #ADE4E5;
    margin: 0;
    font-family: 'JI BURRITO';
}



.header{
    background-color: #C40000;
    color: #F3D70D;
    height: 208px;

}


    .logo img{
        margin: 10px 0 0 20px;
    }
  
    
    
    .links {
      position: relative;bottom: 120px;right: 130px;
        font-size: 3em;
        text-align: right;
    }
    
    .links a{
        color: #F3D70D;
        padding-left: 160px;
        padding-right: 20x;
        text-decoration: none;
        font-family: JI Burrito;
    }    

.footer{
   color:#C40000;
   background-color : #F3D70D;
margin-top: 80px;
font-size: 0.8em;
text-align: center;
height: 120px;


}
.footer h2{
    margin-left: 30px;
    font-family: JI BURRITO;
    color: #C40000;
   

}
.footer a{
    text-decoration: none;
}

@media screen and (max-width:320px)
{
    
.header{
    background-color: #C40000;
    color: #F3D70D;
    height: 150px;
    width: 320px;}

    .logo img{
     height: 145px;
     position: relative;
     bottom: 10px;
    }

    .links {
    position: relative;
    right: 16px;
    bottom: 140px;
    font-size: 1.7em;
      }
      .links a{
          color: #F3D70D;
          text-decoration: none;
          font-family: JI Burrito;
      }  
      .promo img{
       max-width: 320px;
    position: relative;
    bottom: 10px;
    }
       
       
       .footer{
        height: 240px;
        text-align: center;
       }

  
}
