body {
    background-color: #1C7EC6;
    margin: 0;
    font-family: 'calibri';
}

.header{
    background-color: #C40000;
    color: #F3D70D;
    height: 208px;

}

.logo{
    position: relative;left: 20px; top: 10px;
    }
    
    .links {
      position: relative;bottom: 120px;right: 130px;
        font-size: 3em;
        text-align: right;
    }
    
    .links a{
        color: #F3D70D;
        padding-left: 160px;
        padding-right: 20x;
        text-decoration: none;
        font-family: JI Burrito;
    }    



.centered{
    text-align: center;
    font-family: JI Burrito;
    color: #F3D70D;
    font-size: 2.5em;
}


 #food{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    text-align: center;
    
}