
body {
    background-color:#2d303A ;
    margin: 0;
    font-family: 'calibri'
}

d* { outline: 1px dotted lime;
}

.header{
    background-color: black;
    color: white;
    height: 120px;
    border-bottom: 5px solid white;
}

.nav{
    display: grid;
    grid-template-columns: 200px auto;
margin-left: auto;
margin-right: auto;
max-width: 900px;
}

.logo{
    margin-top: 40px;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.links {
    margin-top: 50px;
    font-size: 1.5em;
    text-align: right;
    color: gray;
}

.links a{
    color: white;
    padding-left: 150px;
    padding-right: 30x;
    text-decoration: none;

}




#portfolio {
    color: white;
    background-color: #2d303A;
    border-bottom: 6px solid #323746;
    border-top: 6px solid #FFF;
    font-size: 1.1em;
    line-height: 2em;
   text-align: center;
   border-bottom: 20px solid white;
   
}



#portfolio h1{
    font-weight: bold; 

}

#portfolio h2{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;


}


#portfolio .centered {
    margin: auto;
    max-width: 950px;
   
}


#portfolio #gallery{
    display: grid;
    grid-template-columns: 2fr 2fr;
   

  
}

#portfolio div{
    margin-bottom: 20px;
}


#footer {
    color: whitesmoke;
    background-color: #2D303A;
    font-size: 1.5em;
    height: 200px;
    text-align: center;
    position: relative; bottom: 80px;
    padding-bottom: 20px;


}
#footer h1{
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
    padding-left: 80px;

}
